:root {
	--scroll-margin: 450px;
}
* {
	margin: 0;
}
body {
	background: #000;
	color: #fff;
}
h1 {
	display: inline-block;
	transform: rotateX(45deg);
	padding: 4px 8px;
	border: 4px solid;
	border-radius: 12px;
	color: gold;
}
h2 {
	text-align: center;
}
.title {
	position: relative;
	perspective: 200px;
	text-align: center;
}
.char-container {
	position: relative;
	perspective: 200px;
	perspective-origin: top;
	overflow: hidden;
	height: 50vh;
}
.characters {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	width: 90vw;
	max-width: 650px;
	transform: rotateX(-135deg) translateZ(50px) translateY(33%);
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
	text-align: center;
}
.char-link {
	display: block;
	flex: 0 1 33%;
	transform: rotateX(180deg);
	color: gold;
}
.char-link:last-of-type {
	margin-bottom: var(--scroll-margin);
}
